/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2016, 2:54:19 PM
    Author     : BiNI
*/
.disableDiv{
    pointer-events: none;
    opacity: 0.5;
}
.enableDiv{
    pointer-events: auto;
    opacity: 1;
}

@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}
